

div.bioContainer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

div.subBioContainer {
    width: 50%;
    display: grid;
    grid-row-gap: 1vw;
    line-height: 1.3em;
    display: flex;
    justify-content: center;
}

div.profilePhoto {
    width: min-content;
}

div.subBioContainer img {
    margin-left: 5em;
    margin-top: 4.2em;
    width: 10em;
    height: fit-content;
}

div.subBioContainer text {
    font-size: 1.8em;
    letter-spacing: 0.07em;
    line-height: 1em;
    width: min-content;
}
