div.container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

div.image img {
    width: 100%;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

div.subContainer {
    width: 45%;
    display: grid;
    grid-row-gap: 1vw;
}
