div.homeContainer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

div.homeSubContainer {
    width: 70em;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1em;
    column-gap: 1em;
}

@media only screen and (max-width: 768px) {
    div.homeSubContainer {
        width: 70em;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 1em;
        column-gap: 1em;
    }
}